<!-- <div ng-controller = "AddCtrl" > -->
<div>
	<div class="page-header" >
		<h2>{{ pageHeader }}</h2>
	</div>

	<form class="form-horizontal" ng-submit = 'onSubmit( contacts )'>
		<div class="row">
			<div class="col-sm-6">
				<!-- Name -->
				<div class="row form-group" >
					<label for="name" class="col-sm-4 control-label" >Name</label>
					<div class="col-sm-8" >
						<input type="text" name="name" id="name" class="form-control" ng-model = "contacts.name" required="true" >	
					</div>
				</div>

				<!-- Phone Number -->
				<div class="row form-group" >
					<label for="phoneNumber" class="col-sm-4 control-label" >Phone Number</label>
					<div class="col-sm-8" >
						<input type="text" name="phoneNumber" id="phoneNumber" class="form-control" ng-model = "contacts.phone" required="true" >
					</div>
				</div>

				<!-- Address -->
				<div class="row form-group" >
					<label for="Address" class="col-sm-4 control-label" >Address</label>
					<div class="col-sm-8">
						<textarea id="Address" class="form-control" ng-model = "contacts.address"  required="true"></textarea>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				
				<!-- email id -->
				<div class="row form-group" >
					<label for="email" class="col-sm-4 control-label" >Email Address</label>
					<div class="col-sm-8" >
						<input type="email" name="email" id="email" class="form-control" ng-model = "contacts.email" required="true">	
					</div>
				</div>

				<!-- website -->
				<div class="row form-group" >
					<label for="website" class="col-sm-4 control-label" >Website</label>
					<div class="col-sm-8" >
						<input type="website" name="website" id="website" class="form-control" ng-model = "contacts.website" required="true">	
					</div>
				</div>

				<!-- Notes -->
				<div class="row form-group" >
					<label for="notes" class="col-sm-4 control-label" >Notes</label>
					<div class="col-sm-8">
						<textarea id="notes" class="form-control" ng-model = "contacts.notes" required="true"></textarea>
						<span class="help-block" >Any additional information about the contact.</span>
					</div>
				</div>
			</div>
		</div>

		<div class="alert alert-success" ng-show="added">
			The contact was added successfully.
		</div>

		<!-- button -->
		<div class="form-group well">
			<div class="col-sm-offset-5 col-sm-10">
				<!-- <button class="btn btn-primary">Add Contact</button> -->
				<input type="submit" name="submit" class="btn btn-primary" value="Add Contacts" >
			</div>
		</div>
	</form>
</div>