<!-- <div ng-controller = "IndexCtrl" > -->
<div>
	<div class="page-header" >
		<h2>{{ pageHeader }}</h2>
	</div>
	<div class="table-responsive " >
		<table class="table table-border table-stripped table-hover table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email Address</th>
					<th>Phone Number</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = 'c in contacts | filter: searchText' >
					<td> {{ c.name }} </td>
					<td> {{ c.email }} </td>
					<td> {{ c.phone }} </td>
					<td><a href="#/gravtar/{{ $index }}" class="btn btn-primary btn-xs" >View</a></td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>